<div class="customer-vehicles">
    <div class="vehicles-header">
        
      </div>
      <div class="container">
        <app-go-back></app-go-back>  
          <h1 class="heading"> My Vehicles</h1>
        <div class="vehicle-actions">
          <!-- <h2 class="my-vehicles-header">My vehicles</h2> -->
            <!-- <app-input-basic [fc]="searchFC" placeholder="Search vehicles" icon="search-violet" marginBottom="0">
            </app-input-basic> -->
            <button class="primary add-vehicle-btn" (click)="vehicleModelOpen()">Add a vehicle</button>
        </div>
        <div *ngIf="vehiclesLoaded && allVehicles.length" class="vehicles">
          <div class="vehicle" *ngFor="let vehicle of allVehicles">
            <app-vehicles-box [vehicle]="vehicle" (data)="getVehiclesDetail($event)"></app-vehicles-box>
          </div>
        </div>
        <div *ngIf="vehiclesLoaded && !allVehicles.length" class="no-vehicles card">
          <div class="no-vehicles-div content">
            <!-- <img src="assets/images/my_vechicles.png" alt=""> -->
            <div class="no-vehicles-text">You currently don't have any vehicles added to your profile</div>
            <div class="card-footer"><button class="primary" (click)="vehicleModelOpen()"> Add a vehicle </button></div>
          </div>
        </div>
      </div>
      <app-add-vehicle [vehicleModalOpen]="vehicleModalOpen" (close)="vehicleModalOpen = false"
        [addVehicle]="!vehicleModalOpen">
      </app-add-vehicle>
      
</div>