<div class="vehicle-details">
    <div class="vehicles-header">
    </div>
      
    <div class="container " *ngIf="vehicleDetails">
      <app-go-back></app-go-back>      
      <h1 class="heading">{{vehicleDetails.basicDetails.name}}</h1>
      <div class="vehicle-detail-container">
          <div class="left">
              <app-vehicle-details-card [vehicleDetail]="vehicleDetails['basicDetails']" [isEditable]="true" *ngIf="vehicleDetails && vehicleDetails.basicDetails" (data)="getUpdatedDetail($event)"></app-vehicle-details-card>
              <div class="card" *ngIf="vehicleDetails && vehicleDetails.basicDetails && vehicleDetails.basicDetails.serviceHistory.length">
                <app-vehicle-service-history [serviceHistory]="vehicleDetails.basicDetails.serviceHistory"></app-vehicle-service-history>
              </div>
            </div>
          
            <div class="right">
              <div class="card booking-service">
                <h2 class="booking-service-header underline">Book in for a service</h2>
                <form class="service-vehicle-form" [formGroup]="serviceVehicleFG">
                  <div class="form-fields">
                    <div class="your-location">
                      <app-location-input label="Your Location" [fc]="serviceVehicleFG.get('address')"
                        placeholder="Select from suggestions" icon="location-violet" searchType="(regions)">
                      </app-location-input>
                    </div>
          
                    <!-- <div class="car-rego">
                      <app-input-basic label="Car Rego" [fc]="serviceVehicleFG.get('registrationNumber')" placeholder="EYO 951 21"
                        icon="car-violet">
                      </app-input-basic>
                    </div> -->
          
          
                    <div class="service-type pill-selector">
                      <app-input-pill-selector label="Service Type" [fc]="serviceVehicleFG.get('serviceType')"
                        [options]="serviceTypeOptions" boxWidth="100%">
                      </app-input-pill-selector>
                    </div>
      
                    <div *ngIf="['Other'].indexOf(serviceVehicleFG.get('serviceType').value) > -1">
                      <h5 class="label">What other service would you like</h5>
                      <div class="other-service">
                        <label class="radio custom-label">
                          <input type="radio" value="Roadworthy Inspection" formControlName="otherService">
                          <span>Roadworthy Inspection</span>
                        </label>
                        <label class="radio custom-label">
                          <input type="radio" value="Air Conditioning" formControlName="otherService">
                          <span>Air Conditioning</span>
                        </label>
                        <label class="radio custom-label">
                          <input type="radio" value="Brakes" formControlName="otherService">
                          <span>Brakes</span>
                        </label>
                        <label class="radio custom-label">
                          <input type="radio" value="Something else" formControlName="otherService">
                          <span>Something else</span>
                        </label>
                      </div>
                      <app-textaria-basic label="Further Information" type="text"
                        *ngIf="serviceVehicleFG.get('otherService').value == 'Something else'"
                        placeholder="Please provide further information on other service" [group]="serviceVehicleFG"
                        formControlName="otherServiceDescription" [rows]="1" name="otherServiceDescription">
                      </app-textaria-basic>
                    </div>
      
                    <div class="service-type">
                      <app-slider-basic name="locationRange" [options]="rangeOptions"
                        label="What distance from do you want to stay within?"
                        suffix="Km" formControlName="locationRange">
                      </app-slider-basic>
                    </div>
      
                    <div class="service-type pill-selector">
                      <app-input-pill-selector label="When do you need your car serviced by?" [fc]="serviceVehicleFG.get('timeframe')"
                        [options]="timeframeOptions" boxWidth="100%">
                      </app-input-pill-selector>
                    </div>
      
                    <div *ngIf="serviceVehicleFG.get('timeframe').value === 'certainDate'">
                      <app-date-picker-basic [fc]="serviceVehicleFG.get('requestedTime')" label="Service Date"></app-date-picker-basic>
                    </div>
      
                    <div class="service-type pill-selector">
                      <app-input-pill-selector label="So how long do you want to give the mechanics to respond to your job?"
                        [fc]="serviceVehicleFG.get('lengthOfTender')" [options]="lengthOfTenderOptions" boxWidth="100%">
                      </app-input-pill-selector>
                    </div>

                    <div>
                      <app-textaria-basic label="Additional Comments" type="text"
                        placeholder="Please add comments here..." [group]="serviceVehicleFG"
                        formControlName="additionalComments" [rows]="4" name="additionalComments">
                      </app-textaria-basic>
                    </div>
          
                    <div class="form-buttons">
                      <button class="primary" (click)="toNewJob()">Post a Job</button>
                    </div>
          
                  </div>
          
                </form>
              </div>
            </div>
      </div>
      
      
    </div>
      
</div>