@import 'src/assets/scss/index.scss';
.vehicle-details{
  .vehicles-header {
    background-image: url('/assets/images/my-vehicles-background@3x.svg');
    width: 100%;
    background-size: cover;
    height: 20rem;
  }
  
  .card {
    border-radius: .65rem;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(141, 151, 158, 0.2);
  }
  .container{
    position: relative;
    bottom: 15rem;
    .heading {
      color: $color-white;
      margin-bottom: 2rem;
      font-size: 2.57rem;
      font-weight: bold;
      line-height: 2.5rem;
    }
    .vehicle-detail-container {
      display: flex;
      justify-content: space-between;
      
      .left {
        width: 60%;
        display: flex;
        flex-direction: column;
        
      }
      .right{
        width: 35%;
      }
    
      
    
      .heading {
        height: 31px;
        color: #303133;
        // font-family: Montserrat;
        font-size: 1.45rem;
        font-weight: bold;
        line-height: 2.25rem;
        padding: 1.43rem;
      }
    
      .underline {
        border-bottom: 1px solid #D0D8E8;
      }
    
      
    
      .booking-service {
        width: 30vw;
        border: 1px solid #D0D8E8;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    
        .booking-service-header {
          height: 30px;
          color: #152935;
          // font-family: Montserrat;
          font-size: 1.715rem;
          font-weight: bold;
          line-height: 2.145rem;
          padding: 1.43rem;
        }
    
        .service-vehicle-form {
          .form-fields {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2.5rem;

            .label {
              font-size: 1.15rem;
              line-height: 1.75rem;
              margin-bottom: .75rem;
            }
    
            // .car-rego {
            //   margin-bottom: 20px;
            // }
    
            >div {
              width: 100%
            }
          }
  
          .other-service {
            margin-bottom: 2rem;
          }
    
          .form-buttons {
            margin: 10px;
    
            button {
              width: 100%;
            }
          }
        }
      }
    }
  }
  
 
  
}


@media (max-width: 1000px) {
  .vehicle-details .vehicle-detail-container {
    flex-direction: column;
    align-items: center;
    .left, .right{
      width: 100% !important;
    }
    .description-container {
      flex-direction: column;
    }

    .details {
      width: 100% !important;
    }

    .service-history {
      width: 100% !important;
      .list-item {
        flex-wrap: wrap;

        .content {
          padding: 3px;
        }
      }
    }

    .booking-service {
      width: 100% !important;


      .service-vehicle-form {
        .form-fields {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          padding: .715rem 1rem;
        }

        .service-type,
        .car-rego,
        .your-location {
          margin-right: 1.43rem;
        }
      }
    }
  }
}
