@import 'src/assets/scss/index.scss';

.card-block.vehicles-box {
  box-shadow: 0 0 20px 0 $grey-shadow;
  border-radius: 8px;
  .card-block-header {
    //background-image: url('/assets/images/my-vehicles-bg13x.svg');
    background-image: url('/assets/images/my-vehicles-white-background.svg');
    background-position: left;
    border-radius: 8px 8px 0 0;
    height: 110px;
    background-size: cover;
    //color: $color-white;
    padding: 20px;
    //border-bottom: $grey-light solid 1px;
    h3{
      font-weight: $font-weight-600;
      margin-bottom: 10px;
      margin-top: 40px;
    }
    p {
      font-weight: $font-weight-300;
    }
  }
  .card-block-content {
    padding: 20px;
    display: block;
    min-height: 9rem;
    .feature {
      display: inline-flex;
      width: 100%;
      align-items: center;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0px;
      }
      img {
        width: 20px;
        height: 20px;
        margin: 2px;
      }
      .feature-txt {
        margin-left: 20px;
      }
    }
  }
}

.model-body {
  padding: 15px;
  min-width: 250px;

  label:first-child {
    margin-top: 0px;
  }
}