<div class="container customer-portal-profile" *ngIf="currentLoggedInCustomer">
  <div class="background"></div>
  <div class="container">  
  <div class="row">
    <div class="col col-5">
      <div class="card" >
        <div class="card-header profile-image-section">
          <div class="image-wrap">
            <img class="profile-image" [appLoadImage]="currentLoggedInCustomer.imageId" alt="">
            <div class="edit-icon-wrap" (click)="editProfileModalOpen = true">
              <img class="edit-icon-img" src="/assets/icons/camera-grey.svg" alt="">
            </div>
          </div>
          <h2>{{ currentLoggedInCustomer.firstName}} {{ currentLoggedInCustomer.lastName}}</h2>
        </div>
      
      </div>
      <div class="card location-section" *ngIf="currentLoggedInCustomer.homeAddress">
        <div class="card-header">
            <h3>Location</h3>
          </div>
          <div class="card-content">
            <app-location [location]="currentLoggedInCustomer.homeAddress" [showDiscription]="false"></app-location>
          </div>
      </div>
    </div>
    <div class="col col-7 pull-right right-section">
     
      <div class="card">
        <div class="card-header">
          <h3>Required details</h3>
        </div>
        <div class="card-content">
          <form [formGroup]="customerProfileFG" (submit)="submitProfile()">
            <app-input-basic label="FIRST NAME" [fc]="customerProfileFG.get('firstName')" icon="perm-identity-violet">
            </app-input-basic>
            <app-input-basic label="LAST NAME" [fc]="customerProfileFG.get('lastName')" icon="perm-identity-violet">
            </app-input-basic>
            <app-input-basic label="EMAIL ADDRESS" [fc]="customerProfileFG.get('email')" icon="email-violet">
            </app-input-basic>
            <p class="dis-text">We will only share your email once you have accepted a job with a business</p>
            <app-input-basic label="MOBILE NUMBER" [fc]="customerProfileFG.get('phone')" icon="phone-violet">
            </app-input-basic>
            <p class="dis-text">We will only share your mobile number once you have accepted a job with a business
            </p>
            <app-location-input label="Location" [fc]="customerProfileFG.get('homeAddress')" [placeholder]="locationPlaceHolder || 'Start typing address'" icon="location-violet">
            </app-location-input>
          </form>
          <div class="submit">
              <button class="primary" (click)="goBack()"> Back</button>
              <button class="primary" (click)="submitProfile()"> Save changes</button>
            </div>
        </div>
        
       
      </div>
    </div>
  </div>
</div>
</div>

<app-edit-profile-photo *ngIf="editProfileModalOpen" [originalImageId]="currentLoggedInCustomer.imageId" [editProfileModalOpen]="editProfileModalOpen" (close)="closeProfileUploadModal($event)"></app-edit-profile-photo>
