<div class="container customer-chat">
    <div class="row">
      <div class="col col-4">
        <div class="left-message-block">
          <h2>All messages</h2>
          <div class="form-contol">
            <app-input-basic [fc]="searchUserFC" placeholder="Search messages, bookings etc" icon="search-violet"
              marginBottom="0">
            </app-input-basic>
          </div>
          <app-user-last-message [entityId]="entityId" [entityType]="entityType"></app-user-last-message>
        </div>
      </div>
      <div class="col col-8">
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>